<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="com.knoldus.elasticsearch" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.knoldus.elasticsearch" level="TRACE"/>
    <Root level="WARN">
      <AppenderRef ref="com.knoldus.elasticsearch"/>
    </Root>
  </Loggers>
</Configuration>
